spring:
  application:
    name: study_with_be
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/study_with?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    hikari:
      minimum-idle: 10
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: true
  messages:
    basename: message/messages
    encoding: UTF-8

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 3aeba30d68e3c70e08a8351e911ac369
            client-secret:
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
app:
  jwt:
    issuer: study-with
    audience: study-with-web
    secret: sdfsdf123sdfsfsfsfdf1515151656sdf
    access-ttl-seconds: 900   # 15ë¶„
    refresh-ttl-seconds: 1209600 # 1
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.hibernate.tool.hbm2ddl: debug

springdoc:
  swagger-ui:
    with-credentials: true